<settings>
    <category label="30950">
        <setting id="bgupd"      type="bool"      label="30406" default="true"/>
        <setting id="callurl"    type="bool"      label="30410" default="true"/>
        <setting id="detvidext"  type="bool"      label="30419" default="true"/>
        <setting id="lnktimeout" type="slider"    label="30409" default="20" range="1,60" option="int"/>
        <setting                 type="sep"       label=""/>
        <setting id="actupdvl"   type="action"    label="30423" action="RunScript(special://home/addons/context.addtolib/context.py, action=30009)" option="close"/>
        <setting id="actclnvl"   type="action"    label="30424" action="RunScript(special://home/addons/context.addtolib/context.py, action=30027)" option="close"/>
    </category>
    <category label="30951">
        <setting id="useskins"   type="bool"      label="30449" default="true"/>
        <setting id="dimbckg"    type="bool"      label="30450" default="true" visible="eq(-1,true)" subsetting="true"/>
        <setting id="skin"       type="text"      label="30451" default="Default" visible="false"/>
        <setting id="actskin"    type="action"    label="30452" action="RunScript(special://home/addons/context.addtolib/context.py, action=10210)" option="close" visible="eq(-3,true)" default="Default"/>
        <setting                 type="sep"       label=""/>
        <setting id="colorize"   type="bool"      label="30401" default="true"/>
        <setting id="mnucolor"   type="text"      label="30453" default="darkorange" visible="false"/>
        <setting id="actcolor"   type="action"    label="30435" action="RunScript(special://home/addons/context.addtolib/context.py, action=10203)" option="close" visible="eq(-2,true)" default="darkorange"/>
        <setting                 type="sep"       label=""/>
        <setting id="addupd"     type="bool"      label="30403" default="false"/>
        <!--setting                 type="sep"       label=""/-->
        <setting id="mnuitmnum"  type="select"    label="30407" default="8" values="5|6|7|8|9|10|11|12|13|14|15|16|17|18"/>
        <setting id="setpage"    type="select"    label="30408" default="1" values="1|2"/>
    </category>
    <category label="30953">
        <!--setting id="updafter"   type="bool"      label="30402" default="true"/>
        <setting                 type="sep"       label=""/-->
        <setting id="libpath"    type="folder"    label="30420" default="Default" option="writeable"/>
        <setting id="actreslibp" type="action"    label="30422" action="RunScript(special://home/addons/context.addtolib/context.py, action=10200)" option="close" visible="!eq(-1,Default)"/>
        <setting                 type="sep"       label=""/>
        <setting id="fldrmov"    type="text"      label="30404" default="Movies"/>
        <setting id="fldrtvs"    type="text"      label="30405" default="TV Shows"/>
        <setting id="actchnnow"  type="action"    label="30434" action="RunScript(special://home/addons/context.addtolib/context.py, action=10202)" option="close"/>
        <setting                 type="sep"       label=""/>
        <setting id="actrenamer" type="action"    label="30436" action="RunScript(special://home/addons/context.addtolib/context.py, action=10204)" option="close"/>
    </category>
    <category label="30952">
        <setting id="playbcont"    type="bool"      label="30411" default="true"/>
        <setting                   type="sep"       label=""/>
        <setting id="pbmethod"     type="select"    label="30425" default="Predefined" values="Predefined|Classic only|Alternate only (CORE dependent)"/>
        <setting                   type="sep"       label=""/>
        <setting id="usenowplay"   type="bool"      label="30458" default="true" enable="eq(-4,true)"/>
        <setting id="nowplaytime"  type="number"    label="30459" default="10" enable="eq(-5,true)" visible="eq(-1,true)" subsetting="true"/>
        <setting                   type="sep"       label=""/>
        <setting id="dedlptime"    type="number"    label="30457" default="360"   enable="eq(-7,true)"/>
        <setting id="posupd"       type="number"    label="30412" default="10"    enable="eq(-8,true)"/>
        <setting id="possleep"     type="number"    label="30413" default="60"    enable="eq(-9,true)"/>
        <setting id="waitbseek"    type="number"    label="30418" default="3"     enable="eq(-10,true)"/>
        <setting id="autores"      type="bool"      label="30415" default="false" enable="eq(-11,true)"/>
        <setting id="resdlg"       type="bool"      label="30416" default="true"  enable="eq(-12,true)+eq(-1,false)"/>
        <setting                   type="sep"       label=""/>
        <setting id="wchf"         type="bool"      label="30417" default="true"  enable="eq(-14,true)"/>
        <setting id="wperc"        type="slider"    label="30414" default="92"    enable="eq(-15,true)" visible="eq(-1,true)" range="1,100" option="int" subsetting="true"/>
        <setting                   type="sep"       label=""/>
        <setting id="eodgenm"      type="select"    label="30454" default="Don't use" visible="false" enable="eq(-17,true)" values="Don't use|Suppression"/>
        <setting id="pcore"        type="select"    label="30455" default="Default" enable="eq(-18,true)" values="Default|Auto|VideoPlayer|DVDPlayer|MPlayer|Custom"/>
        <setting id="pcoreval"     type="number"    label="30456" default="0" enable="eq(-19,true)" visible="eq(-1,Custom)" subsetting="true"/>
        
    </category>
    <category label="30954">
        <setting id="silentupd"    type="bool"      label="30426" default="true"/>
        <setting                   type="sep"       label=""/>    
        <setting id="autoupdsrc"   type="bool"      label="30427" default="true"  enable="eq(-2,true)" subsetting="true"/>
        <setting id="autoupdall"   type="bool"      label="30428" default="true"  enable="eq(-3,true)" subsetting="true"/>
        <setting                   type="sep"       label=""/>
        <setting id="startupshad"  type="bool"      label="30433" default="true"  enable="eq(-5,true)"/>
        <setting id="allowshadow"  type="bool"      label="30431" default="true"  enable="eq(-6,true)"/>
        <setting id="autime"       type="number"    label="30432" default="180"   enable="eq(-7,true)" visible="eq(-1,true)" subsetting="true"/>
        <setting id="norepauto"    type="bool"      label="30429" default="true"  enable="eq(-8,true)" visible="eq(-2,true)|eq(-3,true)" subsetting="true"/>
        <setting id="noreprawauto" type="bool"      label="30437" default="true"  enable="eq(-9,true)" visible="eq(-3,true)|eq(-4,true)" subsetting="true"/>
        <setting id="hideaupd"     type="bool"      label="30430" default="false" enable="eq(-10,true)" visible="eq(-4,true)|eq(-5,true)" subsetting="true"/>
    </category>
    <category label="30955">
        <setting id="actbackup"    type="action"    label="30438" action="RunScript(special://home/addons/context.addtolib/context.py, action=10205)" option="close"/>
        <setting id="actrestlib"   type="action"    label="30446" action="RunScript(special://home/addons/context.addtolib/context.py, action=10207)" option="close"/>
        <setting                   type="sep"       label=""/>
        <setting id="fastbckp"     type="bool"      label="30460" default="true"/>
        <setting id="saveonrest"   type="bool"      label="30461" default="true"/>
        <setting id="bkuppath"     type="folder"    label="30439" default="Default" option="writeable"/>
        <setting id="actresbup"    type="action"    label="30447" action="RunScript(special://home/addons/context.addtolib/context.py, action=10208)" option="close" visible="!eq(-1,Default)"/>
        <setting                   type="sep"       label=""/>
        <setting id="bkupremold"   type="bool"      label="30440" default="true"/>
        <setting id="bkupnum"      type="number"    label="30441" default="3"  visible="eq(-1,true)" subsetting="true"/>
        <setting id="actremallbu"  type="action"    label="30445" action="RunScript(special://home/addons/context.addtolib/context.py, action=10206)" option="close"/>
        <setting                   type="sep"       label=""/>
        <setting id="bkupstartup"  type="bool"      label="30443" default="true"/>
        <setting id="bkupauto"     type="bool"      label="30442" default="true"/>
        <setting id="bkuptime"     type="number"    label="30444" default="360"  visible="eq(-1,true)" subsetting="true"/>
        <setting id="hidebckprgs"  type="bool"      label="30448" default="360"  visible="eq(-3,true)|eq(-2,true)" subsetting="true"/>
    </category>
    <category label="30956">
        <setting id="acsstkn"       type="bool"     label="INVPAR" default="false" visible="false"/>
        <setting id="actdbxconnect" type="action"   label="30462" action="RunScript(special://home/addons/context.addtolib/context.py, action=10211)" option="close"/>
        <setting id="actdbxdisconn" type="action"   label="30463" action="RunScript(special://home/addons/context.addtolib/context.py, action=10212)" option="close" enable="eq(-2,true)"/>
        <setting                    type="sep"      label=""/>
        <setting id="usesync"       type="bool"     label="30464" default="false"  enable="eq(-4,true)"/>
        <setting id="strtupsync"    type="bool"     label="30465" default="false"  enable="eq(-5,true)"/>
        <setting id="autosync"      type="bool"     label="30466" default="false"  enable="eq(-6,true)"/>
        <setting id="autosynctime"  type="number"   label="30467" default="10"     enable="eq(-7,true)" visible="eq(-1,true)" subsetting="true"/>
        <setting                    type="sep"      label=""/>
        <setting id="usews"         type="bool"     label="30470" default="false"  enable="eq(-9,true)"/>
        <setting id="strtupws"      type="bool"     label="30471" default="false"  enable="eq(-10,true)"/>
        <setting id="autows"        type="bool"     label="30472" default="false"  enable="eq(-11,true)"/>
        <setting id="autowstime"    type="number"   label="30473" default="10"     enable="eq(-12,true)" visible="eq(-1,true)" subsetting="true"/>
        <setting                    type="sep"      label=""/>
        <setting id="sylimittime"   type="number"   label="30468" default="5"    enable="eq(-14,true)"/>
        <setting id="sylimitcount"  type="number"   label="30469" default="3"    enable="eq(-15,true)"/>
        <setting id="jsival"        type="slider"   label="30474" default="5"    enable="eq(-16,true)" range="1,10" option="int"/>
    </category>
    <category label="30957">
        <setting id="srvstatusv"    type="bool"     label="INVPAR" default="" visible="false"/>
        <setting id="srvstatus"     type="select"   label="30478"  default="not defined" values="Error status" enable="eq(2,true)"/>
        <setting                    type="sep"      label=""/>
        <setting id="usesrv"        type="bool"     label="30481"  default="true"  enable=""/>
        <setting id="uselfm"        type="bool"     label="30475"  default="false"  visible="eq(-1,true)"/>
        <setting                    type="sep"      label=""/>
        <setting id="actstopsrv"    type="action"   label="30476"  action="RunScript(special://home/addons/context.addtolib/context.py, action=10215)" option="close" enable="eq(-3,true)" visible="eq(-6,true)+!eq(-5,Error status)"/>
        <setting id="actstartsrv"   type="action"   label="30477"  action="RunScript(special://home/addons/context.addtolib/context.py, action=10216)" option="close" enable="eq(-4,true)" visible="eq(-7,false)|eq(-6,Error status)"/>
    </category>
</settings>